{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>


<div class="Header">
    {% block Header %}
    <h1>Header</h1>
    {% endblock Header %}
</div>

<div class="Menu">
    {% block Menu %}
    <h1>MENU</h1>
    {% endblock Menu %}
</div>

<div class="Content">
    {% block Content %}
    <h1>Content</h1>
    {% endblock Content %}
</div>

<div class="Footer">
    {% block Footer %}
    <h1>Footer</h1>
    {% endblock Footer %}
</div>

</body>
</html>